/* Reseteamos los margin y paddings de todas las etiquetas */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1.2em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
  form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  body {
    background: #262626;
    min-width: 320px; /*Después de esta medida mínima se rompe la web*/
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Barlow';
    color: #1d1d1d ;
    line-height: 1.6em; 
  }
  
/* Aqui empieza el Header */
.header{
  max-width: 90rem;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /*División equitativa a los extremos del header*/
  align-items: center;
}

.header__h1{
  width: 120px;
}

.abrir__svg{ /* Icon abrir aplica un función de .JS*/
  cursor: pointer;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50px;
  padding: .2rem;
  color: #E8C91E;
  border: 1px solid #E8C91E;
  }

.modal__menu{ 
  position: absolute; /* Para superponer el menú cuando se abra */
  top: 0;
  left: 0;
  width: 100%; /*Ancho total de la pantalla*/
  height: 100vh; /*Alto total de la pantalla*/
  background-color: #282252;
  z-index: 1; /*Por encima del contenido*/

  display: none; /* Desactivado. Se activa con una funcion en JS */

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar{ /* Para esconder la barra de scroll cuando abran menú */
  display: none;
}

.header__ul{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;  
}

.isActive{ 
  display: flex; /* Activado. Se activa con una funcion en JS */
}

.cerrar__svg{ /* Icon cerrar aplica un función de .JS*/
  cursor: pointer;
  position: absolute;
  top: 50px; /* Ajuste de posición*/
  right: 50px; /* Ajuste de posición*/
  width: 2.625rem;
  height: 2.625rem;
  color: #FFE19A;
}

.header__li{
  font-family: 'Rubik Doodle Shadow'; /* Tipografía para titulares*/
  font-size: 6rem; 
  line-height: 5rem;
  text-transform: uppercase; /*Texto transformado todo a mayúscula*/
  font-weight: 700;
  color: #FFE19A;
  letter-spacing: 3px; /*Espacio entre letras*/
}
/* Aqui termina el Header */


.contenedor{ /* Contenedor principal centrado y que mantengan cierta separación*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  gap: 6rem;
}

.home{ /* Contenedor del video */
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  position: relative; /*Relativo para que cuando se abra el menú se pueda superponer el contenido*/
  border-radius: 52px;
}

.home__video{
  object-fit: cover; /*El video cubra todo la caja*/
  border-radius: 52px;
}

.home__p{ /* Texto centrado */
  font-size: 2rem;
  font-weight: 500;
  color: #fffff6;
  letter-spacing: 1px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.main__container{ /* Segundo contenedor de la biografía de Bojack */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center ;
  gap: 6rem;

  max-width: 90rem;
  padding: 5rem; /* Ajustando padding del container*/
  margin: 0 auto;

  border-radius: 52px;
  background: #efeeee;
  box-shadow:  5px 5px 9px #181818, /*Efecto neumorfismo de la contenedora*/
  -5px -5px 9px #222222;
}

.biografia{ /* Texto alineado a la derecha */
  display: flex;
  flex-flow:column nowrap ;
  justify-content: center;
  align-items: flex-end;

  gap: 3rem;
}

.biografia__h2{ /* Texto centrado */
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.1em; /*Para que respete las variaciones del tamaño de la fuente en el responsive */
  width: 100%;
  text-align: center;
}

.biografia__p{ /* Parrafo alineado a la derecha */
  width: 70%;

  font-size: 2rem;
  line-height: 2rem;
  text-align: right;
}

.color{ /* Cambio de color de una parte del párrafo */
  color: #CA7557;
  font-weight: 700;
}

.ninez__contenedor{
  display: flex;
  flex-flow: row nowrap ;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.ninez__img{
 width: 20%; /* Ajustando tamaños*/
}

.ninez__p{
  width: 80%; /* Ajustando tamaños*/
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 500;
}

.padres{ 
  display: flex;
  flex-flow: row nowrap ;
  justify-content: flex-end;
  align-items: center;

  gap: 1.5rem;
}

.padres__contenedor{
  width: 25%; /* Ajustando tamaños*/
  display: flex;
  flex-flow: column nowrap ;
  justify-content: center; /* Contenido centrado en la pantalla */
  align-items: flex-start;
}

.padres__h2{
  font-weight: 700; 
}

.padres__p{
  font-size: 1rem;
  line-height: 1rem;
}
  
.resumen{
  display: flex; /* Contenido centrado */
  flex-flow: row nowrap ; /* Contenido centrado */
  justify-content: center; /* Contenido centrado */
  align-items: center;   /* Contenido centrado */
  gap: 3rem;
}

.resumen__img{
  width: 60%; /* Ajustando tamaños*/
  background-color: red;

  border-radius: 22px;
    background: #fffff6;
    box-shadow:  5px 5px 9px #cecdcd88,  /*Sombra para las imágenes*/
                 -5px -5px 9px #90909088;
}

.biografia__p{ /* Configuración para párrafo */
  text-align: left;
  font-weight: 700;
}

.spoiler{  /* Contenedor con efecto de animación infinita */
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden; /* Se utiliza para ocultar el texto de la animación */
  background-color: #FFE19A;
}

.spoiler__marquee{ /* Texto del contenedor para hacer el efecto de animación infinita */
  font-size: 5em;
  text-transform: uppercase; /*Texto transformado todo a mayúscula*/
  color: #262626 ;
  line-height: 5rem;
  letter-spacing: -5px;
  font-weight: 600;

  /* white-space: nowrap; */
  padding: 0 3rem;

  animation: move 5s linear infinite; /*Efecto de animación infinita*/
  
}

@keyframes move{ /*Animación de movimiento en eje X */
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-100%);
  }
}

.personalidad{ /* XXX */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center ;
  gap: 6rem;
  color: #fffff6;
    
  max-width: 90rem;
  padding: 5rem;
  margin: 0 auto; /* Ajustando margen entre elementos*/
    
  border-radius: 52px;
  background: #1d1d1d;
  box-shadow:  5px 5px 9px #181818,
  -5px -5px 9px #222222;
}
  
.personalidad__h3{ /* Configuración para el H3 */
  margin: 0 0 2rem 0;
  font-size: 4rem;
  line-height: 1.1em;
  font-weight: 700;
}

.personalidad__caja{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.caja__span{
  line-height: 1em;
  border-radius: 32px;
  border: 1px solid #fffff6;
  padding: 1rem;
  display: inline-block; /* Alineación uno al lado del otro*/
}

.secundary__container{ /* Contenedor con más informacion de la trayectoria de Bojack */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center ;
  gap: 6rem;

  max-width: 90rem;
  padding: 5rem;
  margin: 0 auto;

  color: #1d1d1d;

  border-radius: 52px;
    background: #efeeee;
    box-shadow:  5px 5px 9px #181818,
    -5px -5px 9px #222222;
}

.ocupaciones{
  display: flex;
  flex-flow: row nowrap ;
  justify-content: center;
  align-items: center;

  gap: 4rem;
}

.ocupaciones__img{
  max-width: 31.25rem; /* Ancho máximo de la imagen*/
  border-radius: 22px;
    background: #fffff6;
    box-shadow: 5px 5px 9px #cecdcd88, -5px -5px 9px #90909088;
}

.ocupaciones__h3{
  margin-bottom: 2rem;
  font-size: 4rem;
  line-height: 1.1em;
  font-weight: 700;
}

.ocupaciones__ul{
  font-size: 2rem;
  line-height: 2rem;
}

.ocupaciones__li{
  list-style: circle; /*Estilo de listado*/
  line-height: 1.4em;
}

.exitos__h3{
  font-size: 4rem;
  line-height: 1.1em;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center; /*Centrar texto*/
}

.roles__contenedor{
  display: flex;
  flex-flow: row nowrap ;
  justify-content: flex-start;
  align-items: center;

  gap: 2rem;
}

.roles__img{
  width: 400px;
  border-radius: 32px;
  box-shadow: 0px 0px 5px #262626aa;
}

.grid__roles{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.roles{
  min-width: 700px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: .9rem;
  border-bottom: 2px solid #262626;
}

.grid__p:nth-child(1){ /* Cambio en todos los elementos .grid__p que sean primer hijo */
  min-width: 100px;
}

.grid__p:nth-child(2){ /* Cambio en todos los elementos .grid__p que sean segundo hijo */
  min-width: 400px;
}

.popular{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.popular__h3{
  font-size: 4rem;
  line-height: 1.1em;
  font-weight: 700;
}

.mujeres__contenedor{
  width: 100%;
  display: grid; /* Distribuido como GRID */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Distribuido como GRID con un minmax de 250px y filas 1 fracción*/
  gap: 1rem;
}

.mujeres__lista{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mujeres__picture{
  overflow: hidden; /* Para que cuando hago la transformación de escala no se desborde la imagen */
  border-radius: 16px;
  box-shadow:  5px 5px 9px #cecdcd88,
               -5px -5px 9px #90909088;
}

.mujeres__lista:hover .mujeres__img{
  transform: scale(1.1); /* Animación al hacer Hover en cada foto */
}

.mujeres__img{
  transition: all .5s ease;
  background: #fffff6;  
}

.mujeres__h4{
  width: 100%; /*Ocupa todo el ancho de la pantalla*/
  font-size: 1.8rem;
  line-height: 1.1em;
  font-weight: 600;
  padding: 1rem;
  border-radius: 16px;
  background: #282252;
  color: #E8C91E;
  text-align: center; 
}

.frases{
  display: flex; /* Contenido centrado */
  flex-flow: row nowrap ; /* Contenido centrado */
  justify-content: center; /* Contenido centrado */
  align-items: center; /* Contenido centrado */
  gap: 3rem;
}

.frases__p.uno{
  font-size: 5rem;
  line-height: 5rem;
  text-align: left;
}

.temporadas{
  width: 100%;
}

.temporadas__h3{
  font-size: 4rem;
  line-height: 1.1em;
  text-align: center;
  font-weight: 700;
  margin: 0 0 4rem 0;
}

.temporadas__container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Distribuido como GRID con un minmax de 300px y filas 1 fracción*/
  gap: 2rem;
}

.temporadas__info{
  min-height: 420px; /* Alto mínimo para la card de temporada */
  gap: 4rem;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  border-radius: 22px; /* Cambios en los bordes*/
  box-shadow: 5px 5px 9px #cecdcd88,
  -5px -5px 9px #90909088;
  overflow: hidden; /* Para que el texto no se desborde de la imagen */

  position: relative; /*Relativo para que texto flote dentro del elemento*/
}

.temporadas__info:hover .temporadas__img{
  transform: scale(1.1); /* Animación para que la imagen de portada haga escala al hacer Hover en cada temporada */
  transition: all 1s ease;
}

.temporadas__info .temporadas__h4{
  transform: translateY(-100%); /* Animación para esconder el titulo de cada temporada */
  transition: all .5s ease;
}

.temporadas__info:hover .temporadas__h4{
  transform: translateY(0%);  /* Animación para que salga titulo al hacer Hover en cada temporada */
  opacity: 1; /* Elementos visibles sin HOVER*/
}

.temporadas__info .temporadas__p{
  transform: translateY(-100%); /* Animación para esconder el párrafo de cada temporada */
  transition: all .5s ease;
}

.temporadas__info:hover .temporadas__p{
  transform: translateY(0%); /* Animación para que salga texto al hacer Hover en cada temporada */
  opacity: 1;
}
.temporadas__h4{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1em;
  

  position: absolute; /* Para que pueda flotar dentro del elemento */
  top: 0; /* Dato que se coloca cuando hay absolute*/
  left: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  text-align: center;
  padding: 60px 20px 0 ;

  color: #FFE19A;
  
  transition: all .8s ease; /* Animación  con hover */
  z-index: 1; /* Posicionado por encima de la imagen y el texto informativo de cada temporada */
}

.temporadas__p{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.9);

  position: absolute; /* Para que pueda flotar dentro del elemento */
  top: 0;
  left: 0;

  display: flex; /* Contenido centrado */
  flex-flow: row nowrap; /* Contenido centrado */
  justify-content: center; /* Contenido centrado */
  align-items: center; /* Contenido centrado */
  opacity: 0;
  text-align: center;
  padding: 80px 20px 0;

  color: #FFE19A;
  
  transition: all .8s ease;
}

/* Hacer responsive para Tablets */
/* Se ajusto los tamaños y peso de las fuentes, las imágenes tambien se modificaron al igual que los bordes para tener un diseño agradable y responsive  */

@media ( max-width: 960px){
  .header{ /* Ajuste de tamaños*/
  padding: 0rem 2rem; 
  }

  .header__li{ /* Ajuste de tamaños*/
  font-size: 4rem; 
  }

  .contenedor{ /* Ajuste de tamaños*/
  padding: 0rem 1rem 3rem; 
  border-radius: 16px;
  }

  .main__container{ /* Ajuste de tamaños*/
  padding: 3rem 1rem;
  border-radius: 16px;
  gap: 3rem;
  }

  .home__video{ /* Cambios en los bordes*/
  border-radius: 16px;
  }

  .secundary__container{
  padding: 3rem 1rem;
  border-radius: 16px;
  }
    
  .personalidad{
  padding: 3rem 1rem;
  border-radius: 16px;
  }
  
  .biografia{
  display: flex;
  flex-flow: column nowrap; /* Configurando de columnas centradas*/
  justify-content: center;
  align-items: center;  
  }
  
  .biografia__h2{
  width: 100%;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  }
  
  .biografia__p{
  text-align: center;
  width: 100%;
  line-height: 2rem;
  }
  
  .ninez__p { /* Ajustando tamaños para que sea responsive*/
  width: 70%;
  font-size: 3rem;
  line-height: 3rem;
  }

  .padres{
  justify-content: center;
  }

  .padres__contenedor{ /* Ajustando tamaños para que sea responsive*/
  font-size: .875rem;
  width: 30%;
  }
  
  .padres__p{ /* Ajustando tamaños para que sea responsive*/
  font-size: .875rem;
  }
  
  .resumen{
  flex-direction: column; /* Organizado en una sola columna, uno debajo del otro */
  width: 80%;
  }
  
  .resumen__p{ /* Ajustando tamaños para que sea responsive*/
  font-size: 1em;
  line-height: 1.2rem;
  }
  
  .resumen__img { /* Ajustando tamaños*/
  width: 100%; 
  }
  
  .personalidad{ /* Ajustando tamaños*/
  gap: 3rem;
  }

  .personalidad__caja{ /* Ajustando tamaños*/
  gap: 1rem;
  }
  
  .personalidad__h3{ /* Ajustando tamaños*/
  font-size: 2.5rem;
  }

  .caja__span { /* Ajustando tamaños*/
  font-size: 1rem;
  line-height: 1.1em;
  padding: .5rem 1rem
  }

  .ocupaciones__h3{
  font-size: 2.5rem;
  line-height: 1.1em;
  }
  
  .ocupaciones__img{
  width: 40%;
  }
  
  .ocupaciones__ul {
  font-size: 1.8rem;
  }
  
  .exitos{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  }
  
  .roles__contenedor {
  width: 100%;
  }
  
  .roles__img {
  width: 250px;
  }
  
  .grid__roles{
  font-size: .875rem;
  }
  
  .grid__p:nth-child(1) { /* Cambio en todos los elementos .grid__p que sean primer hijo */
  min-width: 80px;
  }
  
  .grid__p:nth-child(2) { /* Cambio en todos los elementos .grid__p que sean segundo hijo */
  min-width: 220px;
  }
    
  .grid__p:nth-child(3) { /* Cambio en todos los elementos .grid__p que sean tercer hijo */
  min-width: 120px;
  }
  
  .roles{
  min-width: 400px;
  padding: 0;
  }
  
  .exitos__h3{
  font-size: 2.5rem;
  line-height: 1.1em;
  }
  
  .popular__h3{
  font-size: 2.5rem;
  line-height: 1.1em;
  text-align: center;
  }
  
  .frases__p.uno{
  font-size: 3rem;
  line-height: 3rem;
  }
  
  .temporadas__h3{
  font-size: 2.5rem;
  line-height: 1.1em;
  }

  .temporadas__h4{
  font-size: 1.6rem;
  padding: 30px 20px 0;
  }
}


/* Hacer responsive para Moviles */
/* Se ajusto los tamaños y peso de las fuentes, las imágenes tambien se modificaron al igual que los bordes para tener un diseño agradable y responsive  */

@media ( max-width: 480px ){
  .header__li{ /* Ajuste de tamaños*/
  font-size: 2rem;
  }
  .cerrar__svg{ /* Ajuste de tamaños*/
  top: 30px;
  right: 30px;
  }
  .contenedor{ /* Ajuste de tamaños*/
  border-radius: 16px;
  gap: 3rem;
  }

  .home__p{ /* Ajuste de tamaños*/
  font-size: 1rem;
  line-height: 1.2em;
  }

  .biografia__h2{ /* Ajuste de tamaños*/
  font-size: 2.5rem;
  line-height: 1.1em;
  }

  .biografia__p{ /* Ajuste de tamaños*/
  font-size: 1em;
  line-height: 1.2rem;
  }
 
  .ninez__img{ /* Ajuste de tamaños*/
  width: 30%;
  }

  .ninez__contenedor{ 
  gap: 1rem;
  }

  .ninez__p { /* Ajuste de tamaños*/
  font-size: 2rem;
  line-height: 2rem;
  }

  .padres__contenedor{
  width: 50%;
  }

  .padres__p{
  font-size: .75rem;
  }

  .resumen__p{
  font-size: .875rem;
  line-height: 1rem;
  }

  .resumen__img { /* Cambios en los bordes*/
  border-radius: 16px;
  }

  .personalidad__h3{
  font-size: 2rem;
  line-height: 2rem;
  }

  .ocupaciones__img{
  width: 100%;
  }

  .ocupaciones{
  flex-direction: column; /* Organizado en una sola columna, uno debajo del otro */
  }

  .ocupaciones__h3{
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  }

  .ocupaciones__ul {
  font-size: 1rem;
  line-height: 1rem;
  }

  .roles__contenedor {
  flex-direction: column; /* Organizado en una sola columna, uno debajo del otro */
  justify-content: flex-start;
  gap: .5rem;
  }

  .roles__img {
  display: none; /* Se oculto imagen de la sección por diseño */
  width: 100%;
  }

  .roles{
  min-width: 320px;
  padding: 0;
  }

  .grid__roles{
  font-size: .8rem;
  }

  .grid__p:nth-child(1) { /* Cambio en todos los elementos .grid__p que sean primer hijo */
  min-width: 0px;
  width: 50px;
  }

  .grid__p:nth-child(2) { /* Cambio en todos los elementos .grid__p que sean segundo hijo */
  min-width: 160px;
  width: 160px;
  }
  .grid__p:nth-child(3) { /* Cambio en todos los elementos .grid__p que sean tercer hijo */
  min-width: 90px;
  width: 90px;
  }

  .exitos__h3{
  font-size: 2rem;
  line-height: 2rem;
  }

  .mujeres__contenedor{ /* Cambio de orientación de las imágenes y descripción */
  flex-direction: column;
  }
  
  .mujeres__h4{ /* Ajustando tamaños*/
  font-size: 1.6rem;
  line-height: 1.1em;
  }

  .popular__h3{ /* Ajustando tamaños*/
  font-size: 2rem;
  line-height: 2rem;
  }

  .frases__p.uno{ /* Ajustando tamaños*/
  font-size: 2rem;
  line-height: 2rem;
  }

  .temporadas__h3{ /* Ajustando tamaños*/
  font-size: 2rem;
  line-height: 2rem;
  }

  .temporadas__p{
  font-size: .875rem;
  }
}

