/* Reseteamos los margin y paddings de todas las etiquetas */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1.2em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Reseteamos las tablas */
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  body {
    background: #262626;
    min-width: 320px; /*Después de esta medida mínima se rompe la web*/
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Barlow';
    color: #fffff6 ;
    line-height: 1.6em;
    overflow: hidden; /* Se escondio la página principal, para que no haga scroll cuando habra menú */
  }

  body.mostrar{
    overflow: visible;
  }

/* Aqui empieza el header */
.header {
  max-width: 90rem;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /*División equitativa a los extremos del header*/
  align-items: center;
}

.header__h1 {
  width: 120px;
}

.abrir__svg { /* Icon abrir aplica un función de .JS*/
  cursor: pointer;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50px;
  padding: .2rem;
  color: #E8C91E;
  border: 1px solid #E8C91E;
}

.modal__menu {
  position: absolute; /* Para superponer el menú cuando se abra */
  top: 0;
  left: 0;
  width: 100%; /*Ancho total de la pantalla*/
  height: 100vh; /*Alto total de la pantalla*/
  background-color: #282252;

  display: none;  /* Desactivado. Se activa con una funcion en JS */

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.header__ul { /* Menú organizado en una sola columna, uno debajo del otro */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;

}

.active {
  display: flex; /* Activado. Se activa con una funcion en JS */
}

.cerrar__svg { /* Icon cerrar aplica un función de .JS*/
  cursor: pointer;
  position: absolute;
  top: 50px; /* Ajuste de posición*/
  right: 50px; /* Ajuste de posición*/
  width: 2.625rem;
  height: 2.625rem;
  color: #FFE19A;
}

.header__li {
  font-family: 'Rubik Doodle Shadow'; /* Tipografía para titulares*/
  font-size: 6rem;
  line-height: 5rem;
  text-transform: uppercase; /*Texto transformado todo a mayúscula*/
  font-weight: 700;
  color: #FFE19A;
  letter-spacing: 3px; /*Espacio entre letras*/
}
/* Aqui termina el Header */

.main__container { /*Contenedor de la sección centrado y organizado en una sola columna*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  max-width: 90rem;
  padding: 5rem;
  margin: 0 auto;

  border-radius: 52px;
  background: #1d1d1d;
  box-shadow: 5px 5px 9px #181818,
    -5px -5px 9px #222222;
}

.descripcion { /* Texto alineado a la izquierda */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.descripcion__span {
  font-size: 1.8rem;
}

.descripcion__p { 
  font-family: 'Rubik Doodle Shadow'; /* Tipografía para titulares*/
  font-size: 4rem;
  color: #FFE19A;
  line-height: 4rem;
  font-weight: 800;
}

.concepto { /* Sección organizada en fila  */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
}

.concepto__text { /* Texto alineado a la derecha */
  text-align: right;
  width: 50%;
}

.concepto__h2 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  text-align: right;
  margin-bottom: 2rem;
}

.concepto__img {
  width: 50%;
  border-radius: 22px;
  background: #1a1a1a;
  box-shadow: 5px 5px 9px #161616,
    -5px -5px 9px #1e1e1e;
}

/* Aqui empieza filosofos */

.filosofias { /* Contenido en columna y alineado a la izquierda */
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;

  padding: 3rem;
  border: .2125rem solid #E8C91E;
  border-radius: 32px;
}

.filosofos { /* Contenido organizado en columna y tres filas */
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 250px;
  gap: 2rem;
}

.filosofos__h3 { /* Texto destacado */
  font-size: 3rem;
  font-weight: 700;
}

.filosofos__fila {/*Cursos de una mano y pinche sobre el elemento*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  color: #565656aa;
  cursor: pointer;
}

.amarillo{
  color: #DFB664;
}

.filosofos__h3:hover { /*Efecto HOVER al texto*/
  color: #DFB664;
}

.filosofos__circulo { /*Circulo como detalle*/
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #8EBBC4;
}

.melon { /*Color al circulo con esta clase*/
  background-color: #C87356;
}

.filosofos__frase { /*Relativo para que filosofos__p floten dentro del elemento */
  width: 100%;
  position: relative;
}

.filosofos__p { /* Superponer frase tras otra*/
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.2em;
  opacity: 0;
  position: absolute;
}

.filosofos__p:nth-child(4) { /* Para que la caja mantenga el alto mas grande de las frases*/
  position: static;
}

.filosofos__p.hover { /* Elementos visibles sin HOVER*/
  opacity: 1;
}
/* Aqui termina filósofos */

.card__container { /*Organizado en columna*/
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.card__img { /*Sombra para contraste*/
  border-radius: 22px; /* Ajuste de borde*/
  background: #1a1a1a;
  box-shadow: 5px 5px 9px #161616,
    -5px -5px 9px #1e1e1e
}

.card__span { /*Texto centrado*/
  width: 70%;

  display: block;
  font-size: 1rem;
  margin: auto;
  text-align: center;
}

.lecciones__contenedor { /* Organizado en una sola columna, uno debajo del otro */
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  color: #1d1d1d;
}

.lecciones { /* Animación para cuando lecciones este activo haga una rotación de 360deg y regrese a su eje*/
  width: 100%;
  min-height: 9.375rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;

  padding: 1.875rem;
  border-radius: 2rem;
  transform: rotateX(0deg);
  transition: all 2s ease;
}

.lecciones.active { /* Animación para cuando lecciones este activo haga una rotación de 360deg */
  transform: rotateX(360deg);
  background-color: #282252;
  color: #fffff6;
}

.numero { /* Ajustando tamaños*/
  font-size: 5rem;
  font-weight: 900;
}

.leccion { /* Título de las cajas de las lecciones*/
  display: block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  transition: all 1s ease;
}

.leccion.active { /* Título de las cajas de lección se oculta, para mostrar la reflexión con funcion .JS*/
  display: none;
}

.reflexion { /* Texto de las reflexiones se ocultan*/
  display: none;
  transition: all 1s ease;
}

.reflexion.active { /* Texto de las reflexiones se muestran con funcion .JS*/
  display: block;
}

.uno { /* Ajuste de color para cada lección  */
  background-color: #FFE19A;
}

.dos { /* Ajuste de color para cada lección  */
  background-color: #602273;
}

.tres { /* Ajuste de color para cada lección  */
  background-color: #8EBBC4;
}

.cuatro { /* Ajuste de color para cada lección  */
  background-color: #C87356;
}

.cinco { /* Ajuste de color para cada lección  */
  background-color: #DFB664;
}

.seis { /* Ajuste de color para cada lección  */
  background-color: #9B5434;
}

.siete { /* Ajuste de color para cada lección  */
  background-color: #E7E4E3;
}

.ocho { /* Ajuste de color para cada lección  */
  background-color: #E8C91E;
}

.nueve { /* Ajuste de color para cada lección  */
  background-color: #8EBBC4;
}

.diez { /* Ajuste de color para cada lección  */
  background-color: #C87356;
}


/* Hacer responsive para Tablet */
/* Se ajusto los tamaños y peso de las fuentes, las imágenes tambien se modificaron al igual que los bordes para tener un diseño agradable y responsive  */


@media (max-width: 960px) {
  .header { /* Ajuste de tamaños*/
    padding: 0rem 2rem;
  }

  .header__li { /* Ajuste de tamaños*/
    font-size: 4rem;
  }

  .contenedor { /* Ajuste de tamaños*/
    padding: 0rem 1rem 3rem;
    border-radius: 16px;
  }

  .cerrar__svg { /* Ajuste de tamaños*/
    top: 40px;
    right: 32px;
  }
  
  .main__container {
    padding: 3rem 1rem;
    border-radius: 16px;
  }

  .descripcion__span {
    font-size: 1.4rem;
  }

  .descripcion__p {
    font-size: 3rem;
    line-height: 1.1em;
  }

  .concepto { /* Ajuste de dirección*/
    flex-flow: column nowrap;
  }

  .concepto__text { /* Ajuste de tamaños*/
    width: 100%;
  }

  .concepto__img {
    width: 100%;
  }

  .filosofias {
    padding: 2rem;
  }

  .filosofos__p {
    font-size: 1.2rem;
    text-align: center;
  }

  .filosofos__h3 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .filosofos__fila {
    gap: 3rem;
  }

  .lecciones { /* Ajustando tamaño con un mínimo de alto para no deformar la caja con el texto*/
    gap: 2rem;
    padding: 1rem;
    border-radius: 16px;
    min-height: 120px;
  }

  .leccion { /* Ajustando tamaños*/
    font-size: 1.4rem;
    line-height: 1.2em;
  }

  .numero { /* Ajustando tamaños*/
    font-size: 2rem;
  }
}

/* Hacer responsive para Moviles */
/* Se ajusto los tamaños y peso de las fuentes, las imágenes tambien se modificaron al igual que los bordes para tener un diseño agradable y responsive  */

@media (max-width: 480px) {
  .header__li { /* Ajuste de tamaños*/
    font-size: 2rem;
  }

  .cerrar__svg { /* Ajuste de tamaños*/
    top: 39px;
    right: 32px;
  }

  .main__container {
    gap: 3rem;
  }

  .resumen__span {  /* Texto centrado*/
    text-align: center;
  }

  .descripcion__p {
    font-size: 2rem;
  }

  .concepto__h2 { /* Ajuste de tamaños*/
    font-size: 2.5rem;
    line-height: 1.1em;
  }

  .filosofos__h3 { /* Ajuste de tamaños*/
    font-size: 1.8rem;
    line-height: 1.1em;
  }
}