/* Reseteamos los margin y paddings de todas las etiquetas */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  

  /* Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1.2em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Reseteamos las tablas */
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  body {
    background: #262626;
    min-width: 320px; /*Después de esta medida mínima se rompe la web*/
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Barlow';
    color: #fffff6 ;
    line-height: 1.6em;

  }

/* Aqui empieza el Header */
.header{
  max-width: 90rem;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /*División equitativa a los extremos del header*/
  align-items: center;
}

.header__h1{
  width: 120px;
}

.abrir__svg{ /* Icon abrir aplica un función de .JS*/
  cursor: pointer;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50px;
  padding: .2rem;
  color: #E8C91E;
  border: 1px solid #E8C91E;
}

.modal__menu{ 
  position: absolute; /* Para superponer el menú cuando se abra */
  top: 0;
  left: 0;
  width: 100%; /*Ancho total de la pantalla*/
  height: 100vh; /*Alto total de la pantalla*/
  background-color: #282252;
  z-index: 1; /*Por encima del contenido*/

  display: none; /* Desactivado. Se activa con una funcion en JS */

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar{ /* Para esconder la barra de scroll cuando abran menú */
  display: none;
}

.header__ul{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;  
}

.isActive{ 
  display: flex; /* Activado. Se activa con una funcion en JS */
}

.cerrar__svg{ /* Icon cerrar aplica un función de .JS*/
  cursor: pointer;
  position: absolute;
  top: 50px; /* Ajuste de posición*/
  right: 50px; /* Ajuste de posición*/
  width: 2.625rem;
  height: 2.625rem;
  color: #FFE19A;
}

.header__li{
  font-family: 'Rubik Doodle Shadow'; /* Tipografía para titulares*/
  font-size: 6rem; 
  line-height: 5rem;
  text-transform: uppercase; /*Texto transformado todo a mayúscula*/
  font-weight: 700;
  color: #FFE19A;
  letter-spacing: 3px; /*Espacio entre letras*/
}
/* Aqui termina el Header */

.contenedor{ /* Contenedor general */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main__container{ /* Segundo contenedor para ordenar contenido */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center ;
  gap: 3rem;

  max-width: 90rem;
  min-height: 50rem;
      
  margin: 0 auto;

  border-radius: 52px;
  background: #1d1d1d;
  box-shadow:  5px 5px 9px #181818, /*Efecto neumorfismo de la contenedora*/
      -5px -5px 9px #222222;

  position: relative; /*Relativo para que los personajes__nav floten dentro del elemento*/
}

.personajes{  /* Contenido organizado en una sola columna, uno debajo del otro */
  padding: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.personajes__h2{ /* Texto principal con tipografía de título y centrado */
  font-family: 'Rubik Doodle Shadow';
  font-size: 6rem;
  line-height: 7.5rem;
  color: #FFE19A;
  text-align: center;
  pointer-events: none;
}

.personajes__nav{  /* Posicionada sobre la caja con ancho completo de personajes*/
  position: absolute;
  width: 100%;
}


.personajes__ul{ /*Selector de la lista de personajes que lo ordena en fila y oculta lo que desborda al hacer hover */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center ;
  border-radius: 52px;
  overflow: hidden;
}
.personajes__li{ 
  width: 100%;
  mix-blend-mode: screen ; /*Efecto que combina con el elemento princupal y fondo del elemento*/
}

.personajes__link{ /*Selector de cada personaje para que se posicione abajo del contenedor */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  gap: 7rem;
  align-items: center;

  min-height: 50rem;
}
.personajes__span{ /*Nombre del personaje con una transformación que rota y se vera al hacer hover */
  position: absolute;
  bottom: 500px;
  transform: rotate(-90deg);
  font-size: 3rem;
  line-height: 1.1em;
  font-weight: 800;

  opacity: 0;
  font-family: 'barlow';
  color: #fffff6;
}

.personajes__img{
  display: block;
  width: 300px;

  transition: all .8s ease;
}

.personajes__li:hover .personajes__span{ /* Elementos visibles sin hover */
  opacity: 1;
}

.personajes__li:hover {
  background-color: #282252;
}

.personajes__li:hover .personajes__img{ /* Animación en la imagen de un pequeño movimiento en ejeY */
  transform: translateY(-20%);
}


/* Hacer responsive para Tablets */
/* Se ajusto los tamaños y peso de las fuentes, las imágenes tambien se modificaron al igual que los bordes para tener un diseño agradable y responsive  */


@media ( max-width: 960px){
  .header{
    padding: 0rem 2rem; /* Ajuste de tamaño */
  }

  .header__li{
    font-size: 4rem; /* Ajuste de tamaño */
  }
 
  .contenedor{
    padding: 0rem 1rem 3rem;
    border-radius: 16px;
    }

  .main__container{
    padding: 3rem 1rem;
    border-radius: 16px;
    min-height: 55rem;
  }

  .personajes__nav{
    position: relative;
  }

  .personajes__ul{ /* Organizado en una sola columna, un personaje debajo del otro */
    flex-flow: column nowrap;
    gap: 2rem;
    border-radius: 0px;
  }

  .personajes__li{
    background-color: #282252;
    border-radius: 24px;
  }

  .personajes__link{ /* Dirección del contenedor en fila y orden inversa    */
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 1rem;
    min-height: 0;
  }

  .personajes__h2{
    font-size: 5rem;
    line-height: 6rem;
  }

  .personajes__span{ /* Nombre de los personajes se posicionen en la misma caja    */
    display: flex;
    opacity: 1;
    font-size: 3.5rem;
    position: static;
    transform: rotate(0deg);
  }

  .personajes__img{
    width: 200px;
  }

  .personajes__li:hover .personajes__img{ /* Animación en la imagen de un pequeño movimiento en ejeX */
    transform: translateX(12%);
  }
}

/* Hacer responsive para Moviles */
/* Se ajusto los tamaños y peso de las fuentes, las imágenes tambien se modificaron al igual que los bordes para tener un diseño agradable y responsive  */


@media ( max-width: 480px){
  .header__li{ /* Ajuste de tamaño */
    font-size: 2rem;
  }
 
  .cerrar__svg{ /* Ajuste de tamaño */
    top: 30px;
    right: 30px;
  }

  .contenedor{
    border-radius: 16px;
    gap: 3rem;
  }

  .main__container{
    padding: 1rem;
    border-radius: 16px;
    gap: 3rem;
  }
  
  .personajes{
    padding: 1rem;
  }
  
  .personajes__h2{
    font-size: 3.5rem;
    line-height: 1.1em;
    text-align: center;
  }

  .personajes__span{
    font-size: 2rem;
    line-height: 2rem;
  }

  .personajes__link{ /* Dirección del contenedor en columna y orden inversa    */
    display: flex;
    flex-flow: column-reverse nowrap;
    gap: 0rem;
    min-height: 0;
    padding: 2rem 0rem;
  }

  .personajes__li:hover .personajes__img{ /* Animación en la imagen de un pequeño movimiento en ejeY */
    transform: translateY(-15%);
  }
}
