/* Reseteamos los margin y paddings de todas las etiquetas */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1.2em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Reseteamos las tablas */
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  body {
    background: #262626;
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Barlow';
    color: #fffff6 ;
    line-height: 1.6em;
    

  }
  
/* AQUI EMPIEZA EL HEADER */


.header{

max-width: 90rem;
margin: auto;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: center;
}
.header__h1{
width: 120px;
}

.abrir__svg{
cursor: pointer;
width: 2.625rem;
height: 2.625rem;
border-radius: 50px;
padding: .2rem;
color: #E8C91E;
border: 1px solid #E8C91E;
  
}
.modal__menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #282252;
  z-index: 1;

  display: none;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header__ul{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  
}
.isActive{
  display: flex;
}
.cerrar__svg{
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 2.625rem;
  height: 2.625rem;
  color: #FFE19A;
}
.header__li{
  font-family: 'Rubik Doodle Shadow';
  font-size: 6rem;
  line-height: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFE19A;
  letter-spacing: 3px;

}


/* AQUI TERMINA EL HEADER */


.contenedor{
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;

gap: 6rem;
}


.main__container{
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center ;
gap: 6rem;

max-width: 90rem;
padding: 5rem;
margin: 0 auto;

border-radius: 52px;
background: #1d1d1d;
box-shadow:  5px 5px 9px #181818,
    -5px -5px 9px #222222;
  }
  
 

  .descripcion{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center ;
    gap: 3rem;
  }

  .descripcion__h2{
    font-family: 'Rubik Doodle Shadow';
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 4rem;
  }
  

  .descripcion__h3{
    font-family: 'Barlow';
    line-height: 3rem;
    font-size: 4rem;
    font-weight: 700;
  }
  .descripcion__span{
    color: #E8C91E ;
  }
  .descripcion__texto{}



  .muroGrid{
    width: 100%;

    font-size: 1.5rem;
    font-weight: 600;

    display: grid;
    grid-template-columns: repeat( 4 , 1fr);
    grid-template-rows: repeat( 3 , 1fr);
    gap: 1rem;
  }

  .muroGrid__section{
    display: flex;
    flex-flow: row nowrap;
    justify-content:  center;
    align-items: center;

    line-height: 1.6rem;
    padding: 1rem;


    border-radius: 22px;
    background: #1a1a1a;
    box-shadow:  5px 5px 9px #161616,
                 -5px -5px 9px #1e1e1e;
  }
.sectionA, .sectionF, .sectionC{
  padding: 0;
}
.muroGrid__section img{
  border-radius: 22px;
}
  .sectionA{
    
  }
  .sectionB{
    background-color: #FFE19A;
  }
  .sectionC{
    
  }
  .sectionD{
    background-color: #602273;

    display: flex;
flex-flow: column nowrap;
justify-content: flex-start;
align-items: center;

overflow: hidden;
  }

  .muroGrid__text{
    animation: move 5s linear infinite;
    /* font-size: 7vw; */
 
  }

  .sectionD__marquee{
  
  }

  @keyframes move{
    from{
      transform: translateX(0) rotate(21deg);
    }
  
    to{
      transform: translateX(-100%);
    }
  }

 
  .sectionE{
    background-color: #282252;
    grid-column: span 2;
    grid-row: span 2;
  }
  .sectionF{

  }
  .sectionG{
    background-color: #E8C91E;

  }
  .sectionH{
    background-color: #262626;
    grid-column: span 2;

  }


  .resumen{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center ;
    gap: 3rem;
  }

  .resumen__h4{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
  }

  .resumen__column{

    /* background-color: aquamarine; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
  }

  .todd{
    width: 50%;
    border: .2125rem solid #E8C91E;
    border-radius: 20px;
  }


  .todd__ul{
    border: .2125rem solid #262626;
    border-radius: 20px;
    width: 50%;
    padding: 3rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    line-height: 2rem;
  }
  .todd__li{
    list-style-type: circle;
  }

  @media (max-width:960px){
    .main__container{
      padding: 3rem 1rem;
      border-radius: 16px;
    }
    .resumen__column{
        flex-direction: column;
    }
    .muroGrid{
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(300px, 1fr))
    }
    .muroGrid__section{
      aspect-ratio: 1 / 1;
    }
    .sectionE{
      grid-column: span 1;
      grid-row: span 1;
    }
    .sectionH{
      grid-column: span 1;
  
    }
    .todd{
      width: 100%;
    }
    .todd__ul{
      width: 100%;
    }
}

/* Hacer responsive para Tablets */

@media ( max-width: 960px){
  .header{
    padding: 0rem 2rem;
  }
  .header__li{
    font-size: 4rem;
  }
  .contenedor{
  padding: 0rem 1rem 3rem;
  border-radius: 16px;
  }
  
  .main__container{
  padding: 3rem 1rem;
  border-radius: 16px;
  gap: 3rem;
  }
}



/* Hacer responsive para Moviles */

@media ( max-width: 480px ) {
  .header__li{
    font-size: 2rem;
  }
  .cerrar__svg{
    top: 30px;
    right: 30px;
  }
.contenedor{
border-radius: 16px;
gap: 3rem;
}

.main__container{
padding: 3rem 1rem;
border-radius: 16px;
gap: 3rem;
}
}