/* Reseteamos los margin y paddings de todas las etiquetas */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1.2em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Reseteamos las tablas */
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  body {
    background: #262626;
    min-width: 320px; /*Después de esta medida mínima se rompe la web*/
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Barlow';
    color: #fffff6 ;
    line-height: 1.6em;
    overflow: hidden; /* Se escondio la página principal, para que no haga scroll cuando habra menú */
  }

  body.mostrar{
    overflow: visible;
  }

/* Aqui empieza el header */
.header{
  max-width: 90rem;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;  /*División equitativa a los extremos del header*/
  align-items: center;
}

.header__h1{
  width: 120px;
}

.abrir__svg{ /* Icon abrir aplica un función de .JS*/
  cursor: pointer;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50px;
  padding: .2rem;
  color: #E8C91E;
  border: 1px solid #E8C91E;
}

.modal__menu{ 
  position: absolute; /* Para superponer el menú cuando se abra */
  top: 0;
  left: 0;
  width: 100%; /*Ancho total de la pantalla*/
  height: 100vh; /*Alto total de la pantalla*/
  background-color: #282252;
  z-index: 1; /*Por encima del contenido*/

  display: none; /* Desactivado. Se activa con una funcion en JS */

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.header__ul{ /* Menú organizado en una sola columna, uno debajo del otro */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.active{ 
  display: flex; /* Activado. Se activa con una funcion en JS */
}

.cerrar__svg{ /* Icon cerrar aplica un función de .JS*/
  cursor: pointer;
  position: absolute;
  top: 50px; /* Ajuste de posición*/
  right: 50px; /* Ajuste de posición*/
  width: 2.625rem;
  height: 2.625rem;
  color: #FFE19A;
}

.header__li{
  font-family: 'Rubik Doodle Shadow'; /* Tipografía para titulares*/
  font-size: 5rem; 
  line-height: 5rem;
  text-transform: uppercase; /*Texto transformado todo a mayúscula*/
  font-weight: 700;
  color: #FFE19A;
  letter-spacing: 3px; /*Espacio entre letras*/
  transition: transform .5s ease;
}

.header__li:hover{
  transform: scale(1.1);
  color: #E8C91E;
}
/* Aqui termina el Header */


.main__container { /* Segundo contenedor de la biografía de Bojack */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  max-width: 90rem;
  padding: 5rem;  /* Ajustando padding del container*/
  margin: 0 auto;

  border-radius: 52px;
  background: #1d1d1d;
  box-shadow: 5px 5px 9px #181818,  /*Efecto neumorfismo de la contenedora*/
    -5px -5px 9px #222222;
}

.episodios__h2 { /* Titulo principal */
  font-size: 4rem;
  font-weight: 800;
  line-height: 3rem;
}

span { /* Color al punto final del titulo */
  color: #E8C91E;
}

.episodios__h3 { /* Subtitulo color gray */
  color: darkgray;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1em;
}

.episodios__video { /* Borde redondeado al video */
  border-radius: 52px;
}

.episodios__img { /* Bordes redondeadas a las fotos */
  width: 100%;
  border-radius: 52px;
}

.fotos { /* Fotos organizados en fila */
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fotos__img {  /* Bordes redondeadas a las fotos */
  border-radius: 52px;
}

.texto { /* Texto organizado en fila */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.texto__svg { /* Ajustando tamaños al icono*/
  width: 20%;
}

.texto__p { /* Ajustando tamaño al texto*/
  width: 80%;
}

.autor__span { /* Alineado a la derecha texto*/
  width: 100%;
  display: block;
  text-align: right;
  color: #C67152;
  font-weight: 700;
}

.episodios__button { /* Boton que te llevara a la página principal de los demas episodios*/
  display: block;
  margin: 30px;
  padding: 1rem;
  border: 4px solid #E8C91E;
  border-radius: 16px;
  background-color: #E8C91E;
  color: #181818;
  font-weight: 700;
  cursor: pointer;
}

.episodios__button:hover{ /* Efecto hover al boton*/
  background-color: black;
  color: #E8C91E;
}

/* Hacer responsive para Tablets */
/* Se ajusto los tamaños y peso de las fuentes, las imágenes tambien se modificaron al igual que los bordes para tener un diseño agradable y responsive  */

@media (max-width: 960px) {
  .header { /* Ajuste de tamaño */
    padding: 0rem 2rem;
  }

  .header__li {
    font-size: 4rem;
  }

  .contenedor {
    padding: 0rem 1rem 3rem;
    border-radius: 16px;
  }

  .cerrar__svg { /* Ajuste de tamaños*/
    top: 40px;
    right: 32px;
  }
  
  .main__container { /* Ajuste de tamaño */
    padding: 3rem 1rem;
    border-radius: 16px;
    gap: 3rem;
  }

  .episodios__video { /* Ajuste de bordes */
    border-radius: 16px;
  }

  .episodios__img {   /* Ajuste de bordes */
    border-radius: 16px;
  }

  .fotos{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .fotos__img { /* Ajuste de tamaño */
    width: 100%;
    border-radius: 16px;
  }

  .texto__svg { /* Ajustando tamaños al icono*/
    height: 200px;
  }
}


/* Hacer responsive para Moviles */
/* Se ajusto los tamaños y peso de las fuentes, las imágenes tambien se modificaron al igual que los bordes para tener un diseño agradable y responsive  */

@media (max-width: 480px) {
  .header__li {
    font-size: 2rem;
  }

  .cerrar__svg { /* Ajuste de tamaño */
    top: 39px;
    right: 32px;
  }

  .contenedor {
    gap: 3rem;
  }

  .episodios__h2 { /* Ajuste de tamaño */
    font-size: 2.5rem;
  }

  .episodios__h3 { /* Ajuste de tamaño */
    font-size: 1.5rem;
  }
  .fotos{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .fotos__img { /* Ajuste de tamaño */
    width: 100%;
  }

  .autor__span{
    font-size: 1rem;
  }

  .texto__p { /* Ajuste de tamaño */
    font-size: .875rem;
    line-height: 1.1em;
  }

  .episodios__button { /* Ajuste de tamaño */
    padding: .5rem;
    font-size: .875rem;
  }
}